.flex_center {
  display: flex;
  align-items: center;
}

.skeleton_img {
  background-color: #ddd;
  height: 227px;
}

/* .skeleton_day {
  content: "";
  height: 18px;
  width: 30px;
  margin-bottom: 5px;
}

.skeleton_month {
  content: "";
  height: 18px;
  width: 30px;
} */

.skeleton_title {
  background-color: #ddd;
  content: "";
  height: 22px;
  /* width: 311px; */
}

.skeleton_text {
  background-color: #ddd;
  content: "";
  height: 46px;
  /* width: 311px; */
}

.skeleton_location {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 18px;
  width: 150px;
}

.skeleton_time {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 18px;
  width: 80px;
}

.shining {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* .skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.skeleton_title {
  width: 50%;
  height: 20px;
  margin-bottom: 15px;
}

.skeleton_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.skeleton_thumbnail {
  width: 100px;
  height: 100px;
} */
