.input {
  border: none;
  text-indent: 10px;
  padding: 0;
  float: right;
  width: 0;
  transition: width 1s ease-in-out;
}

.transition_delay {
  transition-delay: 1s;
}

.input_full {
  padding-left: 3px;
  width: 165px;
}

.header_full {
  width: 205px;
}

@media only screen and (max-width: 767.5px) {
  .header_full {
    width: 180px;
  }
  .input_full {
    width: 140px;
  }
}

@media only screen and (min-width: 991.5px) and (max-width: 1199.5px) {
  .header_full {
    width: 148px;
  }
  .input_full {
    width: 108px;
  }
}

.input::placeholder {
  margin-left: 2px;
}

.input:focus {
  border: none;
}

.flex_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  height: 42px;
  position: absolute;
  top: -21px;
  left: 0;
  right: 0;
  background-color: transparent;
}

.flex_container_color {
  background-color: #ebebeb;
}

.header_search {
  margin-top: 0;
  margin-left: 15px;
  transition: width 1s ease-in-out;
  position: relative;
}

@media only screen and (max-width: 991.5px) {
  .header_search {
    margin-right: 15px;
  }
}

.header_search_close {
  width: 42px;
}

.header_search input {
  background-color: transparent;
}

.icon_button {
  border-radius: 50%;
  padding: 0;
  width: 42px;
  height: 42px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  transition-property: width, height, margin-right;
  transition-delay: 0.9s;
}

.icon_button_white {
  background-color: white;
}

.icon_button:hover {
  background-color: white;
}

/* .header_full .icon_button {
  width: 38px;
  height: 38px;
  transition-delay: 0s;
} */
